<h2>FAQ</h2>

{{ $questions := .Get "questions" | transform.Unmarshal }}
<div id="accordion">
  {{ range $index, $element := $questions }}
  <div class="card mb-2">
    <div class="card-header">
      <a class="card-link {{ if eq $index 0 }}collapsed{{ end }}" data-toggle="collapse" href="#collapse{{ .id }}">
        {{ $element.question }}
      </a>
    </div>
    <div id="collapse{{ .id }}" class="collapse {{ if eq $index 0 }}show{{ end }}" data-parent="#accordion">
      <div class="card-body">
        {{ $element.answer }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
