<div class="sidebar-wrap mt-5 mt-lg-0">
  <div class="sidebar-widget latest-post mb-4">
    <h5 class="text-center mb-4">{{ i18n "latest_post" }}</h5>
    {{ range first 3 ( where .Site.RegularPages "Type" "post" )}}
    <div class="media border-bottom py-3">
      <a href="{{ .Permalink }}"><img class="post-thumb-sm mr-4 rounded" src="{{ .Params.Image | absURL }}"
          alt="{{ .Title | markdownify }}"></a>
      <div class="media-body">
        <h6 class="my-2"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h6>
        <span class="text-sm text-muted">{{ .PublishDate.Format "02 Jan 2006" }}</span>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="sidebar-widget category mb-4">
    <h5 class="mb-4 text-center">{{ i18n "categories"}}</h5>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-group">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="list-group-item">
        <a class="align-items-center d-flex justify-content-between"
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}<span>{{len $items}}</span></a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</div>